<html>
<head>

<title>All products-Ecommerce web page</title>
<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>



<div class="container">
<div class="navbar">
<div class="logo">
<img src="images/logo.png" width="125px">
</div>
<nav>
<ul id="ms">
<li><a href="/">HOME</a></li>
<li><a href="/products">PRODUCT</a></li>
<li><a href="">ABOUT</a></li>
<li><a href="">CONTACT</a></li>
<li><a href="">ACCOUNT</a></li>
</ul>
</nav>
<img src="images/cart.png" width="30px" height="30px" onclick="window.location.href='/cart'">

  <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
</div>

</div>


<div class="account-page">
<div class="container">

<div class="row">
<div class="col2"><img src="images/image1.png" width="100%"></div>
<div class="col2">
<div class="form-container">  
<div class="form-btn">
<span onclick="login()">Login</span>
<span onclick="reg()">Register</span>
<hr id="ind">

</div>
<form id="loginform" action="/login" method="POST">

<input type:"email" placeholder="email" name="email1">
<input type:"password" placeholder="Password1" name="Password1">
<button type="submit" class="btn"  >Login</button>
<a href="">Forgot password</a>
</form>
<form id="regform" action="/" method="POST">

<input type:"email" placeholder="email" name="email">
<input type:"password" placeholder="Password" name="ps">
<button type="submit" class="btn"  >Register</button>

</form>

</div>
</div>
</div>

</div>

</div>








<div class="footer">
    <div class="container">
      <div class="row">
          <div class="footer-col1">
              <h3>Downlosd Our App</h3>
              <p>Download app for android and ios mobile phone.</p>
			  <div class="app-logo">
			  <img  src="images/play-store.png">
			  <img src="images/app-store.png"></div>
          </div>
             <div class="footer-col2">
              <img src="images/logo-white.png">
              <p>our purpose is to sustainably make a pleasure</p>
          </div>
             <div class="footer-col3">
              <h3>Useful Links</h3>
              <ul>
                <li>Coupons  
                </li>
                 <li>Blog post
                </li>
                 <li> Return policy 
                </li>
                 <li>Join afiliate
                </li>
                 
                
                  
              </ul>
          </div>
          <div class="footer-col4">
              <h3>Follow us</h3>
              <ul>
                <li>face book  
                </li>
                 <li>Instagram 
                </li>
                 <li> Twitter 
                </li>
                 <li>YouTube 
                </li>
                 
                
                  
              </ul>
          </div>
          
          
      </div>
<hr>
<p class="cr">Copyright 2021</p>	  
    </div>
  </div> 
  <script>
  var element = document.getElementById('ms');
      element.style.maxHeight="0px";
  function menutoggle(){
  if(element.style.maxHeight=="0px")
  {
  element.style.maxHeight="200px";
  }
  else
  {
  element.style.maxHeight="0px";
  }
  }
  </script>
  <script>
  
  var log=document.getElementById('loginform');
  var regm=document.getElementById('regform');
  var ind=document.getElementById('ind');
  function reg(){
  regm.style.transform="translateX(0px)";
   log.style.transform="translateX(0px)";
   ind.style.transform="translateX(100px)";
  }
  function login(){
  regm.style.transform="translateX(300px)";
   log.style.transform="translateX(300px)";
   ind.style.transform="translateX(0px)";
  }
  
  
  
  </script>
  
  
</body>
</html>
