<html>
<head>

<title>All products-Ecommerce web page</title>
<link rel="stylesheet" href="style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,600;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
</head>
<body>



<div class="container">
<div class="navbar">
<div class="logo">
<img src="images/logo.png" width="125px">
</div>
<nav>
<ul id="ms">
<li><a href="">HOME</a></li>
<li><a href="">PRODUCT</a></li>
<li><a href="">ABOUT</a></li>
<li><a href="">CONTACT</a></li>
<li><a href="">ACCOUNT</a></li>
</ul>
</nav>
<img src="images/cart.png" width="30px" height="30px"><span>0</span>

  <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
</div>

</div>





<div class="small-categories single-product">
<div class="row">
<div class="col2">
<img src="images/gallery-1.jpg" width="100%" id="productimg">

<div class="small-img-row">
<div class="small-img-col">
<img src="images/gallery-1.jpg" width="100%" class="small-img">
</div>
<div class="small-img-col">
<img src="images/gallery-2.jpg" width="100%" class="small-img">
</div>
<div class="small-img-col">
<img src="images/gallery-3.jpg" width="100%" class="small-img">
</div>
<div class="small-img-col">
<img src="images/gallery-4.jpg" width="100%" class="small-img">
</div>

</div>





</div>
<div class="col2">
<p>Home/t-shirt</p>
<h1>Red printd t-shirt by HRX</h1>
<h4>$50.00</h4>
<select>
<option>Select size</option>
<option>XXL</option>
<option>XL</option>
<option>Large</option>
<option>Medium</option>
<option>small</option>
</select>
<input type="number" value="1">
<a href="" class="btn" class="add-cart">Add to Cart</a>
<h3>Product details<i class="fas fa-indent"></i></h3>
<br>
<p>A T-shirt, or tee shirt, is a style of fabric shirt named after the T shape of its body and sleeves. Traditionally, it has short sleeves and a round neckline, known as a crew neck, which lacks a collar.</p>
</div>


</div>

<div class="small-container">
<div class="row row2">
<h2>Relative Product<h2>
</div>
</div>

<div class="small-categories">





<div class="row">
<div class="col4">
<img src="images/product-1.jpg">
<h4>Red Printed T-shirt</h4>
<div class="rating"> 
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>

<p>$50.90</p>
</div>
<div class="col4">
<img src="images/product-2.jpg">
<h4>PUMA show</h4>
<div class="rating"> 
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i>
</div>

<p>$490.90</p>
</div>
<div class="col4">
<img src="images/product-3.jpg">
<h4>pant</h4>
<div class="rating"> 
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star-half-alt"></i>
</div>

<p>$300.90</p>
</div>
<div class="col4">
<img src="images/product-4.jpg">
<h4>Black T-shirt</h4>
<div class="rating"> 
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="fas fa-star"></i>
<i class="far fa-star"></i>
</div>

<p>$100.20</p>
</div>
</div>




<div class="footer">
    <div class="container">
      <div class="row">
          <div class="footer-col1">
              <h3>Downlosd Our App</h3>
              <p>Download app for android and ios mobile phone.</p>
			  <div class="app-logo">
			  <img  src="images/play-store.png">
			  <img src="images/app-store.png"></div>
          </div>
             <div class="footer-col2">
              <img src="images/logo-white.png">
              <p>our purpose is to sustainably make a pleasure</p>
          </div>
             <div class="footer-col3">
              <h3>Useful Links</h3>
              <ul>
                <li>Coupons  
                </li>
                 <li>Blog post
                </li>
                 <li> Return policy 
                </li>
                 <li>Join afiliate
                </li>
                 
                
                  
              </ul>
          </div>
          <div class="footer-col4">
              <h3>Follow us</h3>
              <ul>
                <li>face book  
                </li>
                 <li>Instagram 
                </li>
                 <li> Twitter 
                </li>
                 <li>YouTube 
                </li>
                 
                
                  
              </ul>
          </div>
          
          
      </div>
<hr>
<p class="cr">Copyright 2021</p>	  
    </div>
  </div> 
  <script>
  var element = document.getElementById('ms');
      element.style.maxHeight="0px";
  function menutoggle(){
  if(element.style.maxHeight=="0px")
  {
  element.style.maxHeight="200px";
  }
  else
  {
  element.style.maxHeight="0px";
  }
  }
  </script>
  <script>
  var  productimg=document.getElementById('productimg');
  var smallimg=document.getElementsByClassName("small-img");
  smallimg[0].onclick=function()
  {
  productimg.src=smallimg[0].src;
  }
  smallimg[1].onclick=function()
  {
  productimg.src=smallimg[1].src;
  }
  smallimg[2].onclick=function()
  {
  productimg.src=smallimg[2].src;
  }
  smallimg[3].onclick=function()
  {
  productimg.src=smallimg[3].src;
  }
  </script>
  <script>
  let carts=document.querySelectorAll('.add-cart')
  
  
  
  
  </script>
</body>
</html>